
.test-result
   width 300px
   display flex
   align-items: center;
   .icon
     font-size:25px;
     margin-right:5px;
fieldset
  border: 1px solid #ebeef5
  font-size: 14px
  color: #909399
  margin-bottom: 20px
  padding: 10px
fieldset>div
  display: flex
  justify-content: space-between
.label-ground, .label-item, .detail
  display: flex
.detail
  overflow auto
.demo-table-expand >>> .el-form-item__content
  display: flex
.label-or-space
  color: #1ac71c
  margin: 0 5px
// .echarts-container
//   position relative
//   width 50%
//   height auto
//   float left
// .crowd-statistic
//   border-bottom 1px dashed #ccc
//   &:before
//   &:after
//     display table
//     content ""
//   &:after
//     clear: both
// .main
//   width 100%
//   height 300px
//   padding 30px
// // .click-date-picker
// //   text-align center
// //   margin 20px 0
// .lines-title
//   position absolute
//   font-size 18px
//   font-weight bold
//   color #000
//   margin-left 25px
// .funnel-tips
//   font-size 14px
//   color #333
//   margin 50px 0 0 25px
.crowd-list >>> .el-table tr.gray-row
  color #ccc
.copy-form >>> .el-select
  width 85%
.uneffective
  position relative
  cursor pointer
  span
    position absolute
    display inline-block
    width 12px
    height 12px
    border 1px solid
    border-radius 10px
    text-align center
    line-height 12px
.manual
  margin 20px
.estimate-item
  border-top 1px dashed #000
  &:first-child
    border-top none
.base-info-circle-echarts
  border-left 1px dashed #000
  &:first-child
    border-left none
.estimate-statistic
  display flex
.base-info-circle-echarts
  width 33%
  height 220px
.table-overflow
  height 360px
  overflow auto
  margin 10px
.city-info-echarts
    width 33%
    border-right 1px dashed
.province-map
    width 100%
    height 300px
.province-city-active-content
    display flex
    flex-direction column
.city-active-proportion
    display block
    margin-left 20px
.city-active-proportion--title
    font-size 18px
.city-active-proportion--name
    width 50%
    display inline-block
    margin 5px 0
.table-title
    font-size 18px
    margin 10px
.estimate-title
    padding 10px 20px
    background-color #ccc
    font-size 18px
    color red
    display inline-block
    margin 20px 0
.member-select
    display flex
    align-items center
    justify-content center
    .member-select--text
        margin-right 20px
.member-total
    width 50%
    height 300px
    margin auto
.member-total-item
    width 33%
    height 300px
    border-left 1px dashed #000
    &:first-child
        border-left none
/*.watch-tv-behavior*/
    /*border-top 1px dashed #000*/
    /*&:first-child*/
        /*border-top none*/
.userBehavior
    width 100%
    height 300px
.activeBehaviorEcharts
    width 50%
    height 300px
    margin auto
.button_underline
    text-decoration underline
.text-over
    width 16px
    height 16px
    background url(../../assets/pencil.png) no-repeat right center
    text-align center
.estimate-tips
    margin 10px 0
    color red
.export-button
    display flex
    justify-content flex-end
.blue-tip
    color #0086b3
.operate
  position relative
  z-index 0
  font-size 20px
  cursor pointer
  margin-left 10px
.header
  width 100%
  display flex
  justify-content space-between
  margin-bottom 10px
  .header-right
    display flex
    align-items center
.el-button-group >>> .el-button
  float none
  margin 0 3px
.search-input
  position relative
  margin 0 10px
.icon-fixed
  position absolute
  top 8px
  right 20px
  transform rotate(-90deg)

.crowd-top
  display flex
  justify-content flex-start
  align-items center
.crowd-top-back
  margin-right 20px
  .el-button
    font-size 16px
.crowd-top
  @import '~@/assets/tag.styl'

.button-margin
  margin-top 10px
.table-header
  display flex
  div
    width 25%
    border 1px solid #ccc
    text-align center
    box-sizing border-box
    height 33px
    line-height 33px
  div + div
    border-left none
.table-detail-item
  display flex
  position relative
  div
    width 33.3%
    display flex
    justify-content center
    align-items center
    border 1px solid #ccc
    border-top none
    box-sizing border-box
    padding 5px
  .crowd-name-item
    width 33.4%
  div + div
    border-left none
  .el-icon-minus
    position absolute
    top 8px
    right 20px
    font-weight bold
.table-ratio
    width 25%
    display flex
    justify-content center
    align-items center
    border-right 1px solid #ccc
    box-sizing border-box
.table-body
  display flex
.table-left-part
  width 75%
.bypass-item
  margin 20px 0
.select-bottom-rows
  display flex
  .table-ratio
    border-bottom 1px solid #ccc
.select-rows
  width 75%
  border 1px solid #ccc
  box-sizing border-box
  height 33px
  border-top none
  .el-select
    width 100%
.edit-priority  >>> .input-width
  width 50%
.dynamic-crowd-name
  white-space nowrap
.detailTitle
  font-size 16px
  line-height: 40px;
  margin-right: 10px;
  font-weight: 500
  color: #000;
.monitor-time
  margin-bottom: 30px;
.boldCss
  font-weight 800

@import '~@/assets/tag.styl'
.title {
  color: rgba(0,0,0,0.9);
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  margin-bottom 15px
}
::v-deep .green {
  color: #67C23A
}
::v-deep .ant-time-picker-panel-combobox {
  display: flex !important
}
