$borderColor=#0a6aff
// $borderColor=#07efe7

.dark
  .row-wrap {
    background: #000;
    color: #fff
    
    // background: url(../../assets/img/bg.jpg) center top;
    // background-size: cover;

  }
  
  .content {
    background: url("https://img.alicdn.com/imgextra/i3/O1CN01kSoAWV1jd6n4fDpdT_!!6000000004570-2-tps-2200-1280.png") no-repeat;
    background-size: cover
  }


  .lists-item
    color rgba(255,255,255,.8)
    border-bottom: 1px dashed #606060;
    // .group-sty .lists-item
    // border-left: 2px solid #0de7e8;
    // border-radius: 9px 0 0 9px;

  .active
    background: center center #4A54FF;
    background-image: none;
    background-size: auto;
    background-image: linear-gradient(315deg, #6772FF 0, #00F9E5 100%);
    background-size: 104% 104%;
    color: #fff;


  
    

  .detail {
    // padding: 15px
    box-shadow: 0 0 30px 0 #4852ff;
    background: #07133cb3;

    // background: url(../../assets/img/bg.jpg) center top;
    // background-size: cover;
  }
  
  .detail-name-border {
    position: absolute;
    width: 150%;
    height: 6px;
    bottom: 2px;
    background: linear-gradient(270deg, rgba(248, 115, 115, 0) 0%, #2252d6 100%);
    border-radius: 3px;
    opacity: 0.7;
    bottom: -4px;
  }


  
  .detail-business-type {
    // background: #fff;
    color #fff
    background: rgba(101,132,226,.1);
    background url(../../assets/img/index.png)
    border: 1px solid rgba(25,186,139,.17)
    box-shadow: 0 0 6px #181c56 inset
    &:before{
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      width: 10px;
      height: 10px;
      border-top: 2px solid $borderColor;
      border-left: 2px solid $borderColor;
      box-shadow:  0 0 5rem rgb(0,110,150)
    }
    &:after {
      position: absolute;
      top: 0;
      right: 0;
      content: "";
      width: 10px;
      height: 10px;
      border-top: 2px solid $borderColor;
      border-right: 2px solid $borderColor;
      box-shadow:  0 0 5rem rgb(0,110,150)
    }
  }

  .box-fotter {
    position: absolute;
    bottom: 0;
    padding: 10px;
    display: grid;
    /* justify-content: center; */
    /* grid-template-columns: 100%; */
    /* align-items: center; */
    /* grid-template-rows: auto; */
    width: 100%;
    box-sizing: border-box;
  }

  .d-info {
    color: rgba(255,255,255,0.5);
  }




  .target-img
    background: url(../../assets/img/target2.png) right center;
    background-size: 100%;
   




  .info-class {
    margin: 15px 0;
  }
  .border-line {
    background: linear-gradient(270deg, rgb(26 34 56) 0%, #07143c 100%);

    /* border-bottom: 1px dashed; */
    // background-color: #1E1E1E;
    // background-color: #000;
    // box-shadow: 0 0 3px 0 #4a54ff;
    // border-radius: 6px 6px 4px 4px;

    /* background-color: #ffffff; */
    /* -webkit-box-shadow: 0 0 3px 0 #4a54ff; */
    /* box-shadow: 0 0 3px 0 #4a54ff; */
  }

  .d-info >>> .el-input__inner {
    background: #07133c;
    color: #fff;
  }
  .rule-string 
    >>> .label-item, >>> .label-ground, >>> .bav-attr-warp, >>> .child-attr-wrap
      border none
  
  .lists-item >>> .el-dropdown
    color: #fff
  .gray-row
    color gray

  .detail-kpi
    border: 1px solid rgba(25,186,139,.17)
    background url(../../assets/img/index.png)
    color #fff
    box-shadow: 0 0 6px #181c56 inset
    &:before
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      width: 10px;
      height: 10px;
      border-top: 2px solid $borderColor;
      border-left: 2px solid $borderColor;
    &:after
      position: absolute;
      top: 0;
      right: 0;
      content: "";
      width: 10px;
      height: 10px;
      border-top: 2px solid $borderColor;
      border-right: 2px solid $borderColor;
  .panel-footer
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    &:before
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      width: 10px;
      height: 10px;
      border-bottom: 2px solid $borderColor;
      border-left: 2px solid $borderColor;
    &:after
      position: absolute;
      bottom: 0;
      right: 0;
      content: "";
      width: 10px;
      height: 10px;
      border-bottom: 2px solid $borderColor;
      border-right: 2px solid $borderColor;
  .bav-wrap {
    >>> .el-input__inner {
      background-color: #09163c;
    }
  }
  .el-dropdown-link
    color: #fff