.light

  .row-wrap {
    background: rgb(243, 244, 250);
  }
  
  .content {
    background-color: #fff;
  }

  .title
    color: rgba(0,0,0,.85);

  .lists-item
    color #666666

  .active
    background rgb(237, 239, 255)

  .item-index
    color: #999

  .el-dropdown
    display: inline-flex;
    position: relative;
    color: var(--el-text-color-regular);
    font-size: var(--el-font-size-base);
    line-height: 1;
    vertical-align: top;
    // margin-left: 10px;

  .detail-name {
    color: #676a6c;
  }


  .detail-business-type {
    background: #f4f4f5;
  }

  .detail-kpi {
    background: #f4f4f5;
  }

  .box-fotter {
    position: absolute;
    bottom: 0;
    padding: 10px;
    display: grid;
    /* justify-content: center; */
    /* grid-template-columns: 100%; */
    /* align-items: center; */
    /* grid-template-rows: auto; */
    width: 100%;
    box-sizing: border-box;
  }

  .d-info {
    padding: 8px 16px;
    margin: 20px 0
    color: #909399;
  }


  .target-img {
    background: url(../../assets/img/target.png) right center;
    background-size: 100%;
  }


  .title2 {
    color: rgba(0,0,0,0.85);
  }

  .info-class {
    align-items: top
    box-sizing: border-box;
    color: #131e0e;
    margin: 10px;
    overflow: hidden;
  }
  .border-line{
    padding: 8px 16px 8px 26px
    border-radius: 4px;
    border: 1px solid #67c23a;
    display: grid;
    grid-template-columns: 72px auto;
    grid-gap: 10px 0;
  }


  
