.oc-item
  margin-top 5px

.w100 {
  min-width: 100px;
  margin-bottom: 5px
}
.w115 {
  min-width: 115px;
  margin-bottom: 5px
}

.flex-column {
  display: flex;
  flex-direction: column;
  position: relative;
}

.flex-row {
  display: flex;
  flex-direction: row;
  // margin: 3px 2px;
}

.child-attr-wrap {
  border: 1px dashed #fff;
  padding: 0 5px;
  margin: 10px 0;
}

.label-item {
  span {
    margin-right: 10px;
  }
}

.bav-attr-warp {
  // align-items: baseline;
  display: flex;
  border: 1px dashed #fff;
  margin-bottom: 10px;
  @import '~@/assets/tag.styl'
  // &:hover {
  //   // text-decoration: underline;
  //   border-color: rgb(0, 188, 212);
  //   border-radius: 7px;
  // }
}
@media(device-width: 768px) and (device-height: 1024px) {
  ::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
  }
  ::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba(0, 0, 0, .5);
      -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }
}
.reverse-check{
  margin 0 20px
}

.appoint-text{
  width: 263px;
  font-size: 12px;
  white-space: break-spaces;
  position: absolute;
  margin-top: 36px;
  height: 107px;
  line-height: 17px;
  color gray
}
.flex-column {
  >>> .el-form-item {
    margin-bottom 0!important
  }
}
.bav03-hover {
  cursor pointer
  .bav03-hover-show-item {
    opacity 0
    margin-right: 0;
  }
  &:hover {
    .bav03-hover-show-item {
      opacity 1
    }
  }
}