body,html
  padding 0
  margin 0
  width 100%
  height 100%


[class*=" el-icon-cc"],
[class^="el-icon-cc"]
  font-family "iconfont" !important
  font-size 16px
  font-style normal
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
.TopNav
  display flex
  justify-content space-between

.unit-row
  margin-bottom 20px
.unit-box
  background #f2f4f6
  // border-radius 5px
.unit-header
  // background #dad9d9
  // border-radius 5px 5px 0 0
  border-bottom 1px solid #d4d4d4
  line-height 56px
  padding 0 15px
  font-size 14px
.unit-content
  padding 15px
.margin-top20
  margin-top 20px

.cf
  *zoom 1
.cf:after,
.cf:before
  content "."
  height 0
  clear both
  visibility hidden
  display block
.errorMsg
  color red
  font-size 12px
.el-tooltip__popper
  max-width: 50%
/* 滚动条样式 */
::-webkit-scrollbar /* 滚动条整体样式 */
  width 10px /* 高宽分别对应横竖滚动条的尺寸 */
  height 10px
::-webkit-scrollbar-thumb /* 滚动条里面小方块 */
  border-radius 10px
  -webkit-box-shadow inset 0 0 6px rgba(0, 0, 0, 0.22)
  background #e0e5eb
.checkbox--red
  color #f56c6c
.checkbox--green
  color #67c23a
.checkbox--blue
  color #409eff
.checkbox--yellow
  color #e6a23c
.checkbox--orange
  color #512DA8
.checkbox--orange2
  color #795548
.checkbox--cyan
  color #00bcd4
.checkbox--gray
  color #a59b95
