.form-class{
  width: 80%;
  margin: 0 auto 20px;
}
.div-class{
  padding: 20px;
  background-color: rgba(249,249,249,0.85);
  margin-bottom 20px
}
.filed-row {
  margin-bottom 15px
  position relative
}
.split-line{
  margin 0 10px
  color #999
}
.add-btn{
  margin 10px 28px 10px 0
  width 369px
}
.delete-btn{
  color #999
  font-size 16px
  margin-left 10px
  position: absolute;
}
.ratio {
  margin-left: 60px
}
.flow-num{
  width 50px
}
.tip-box{
  position: absolute;
  z-index: 99;
  width: 999px;
  color: #999;
  font-size: 12px;
  top: 36px;
  height: 15px;
  line-height: 15px;
}
.step-sty {
  margin: 0 auto 20px; 
  width: 80%
}